body {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
button {
  font-family: 'Righteous', cursive;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}
/*////////////////////////////*/
/* ---------- PAGES ----------*/
/*////////////////////////////*/


/* --- LOGIN & SIGNUP --- */

.login-page, .signup-page {
  height: 100vh;
  text-align: center;
  background-image: url('https://i.pinimg.com/originals/a3/ea/d0/a3ead079967c08fa4418d00b5774fbb6.jpg');
  background-size: cover;
  background-position:center;
}
.login-form, .signup-form {
  height: 70%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.login-form input, .signup-form input {
  width: 30vw;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}
.login-form input:focus, .signup-form input:focus {
  border: rgb(190, 255, 174) solid 6px;
  outline: rgb(115, 228, 121) auto 5px;
  margin: 4px;
}
.login-form button, .signup-form button {
  transition: ease-in-out 0.2s;
}

.login-form button:hover, .signup-form button:hover {
  background-color: rgb(171, 247, 152);
  color: antiquewhite;
  text-shadow: 0 0 3px darkgreen;
  border-radius: 50%;
  font-size: 1.2em;
}
.login-form button:hover{
  padding: 1.9em 1.2em;
}
.signup-form button:hover {
  padding: 2.1em 1em;
}
#bottomline {
  color: white;
  font-size: 1.1em;
  text-shadow: 0 0 10px rgb(8, 58, 8);
}
#bottomline a {
  color: white;
}

/* --- DASHBOARD --- */
.dashboard-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
}
aside {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgb(204, 196, 207);
  padding: 2em;
}
aside img {
  margin: 0 0 2em 0;
}
aside button {
  margin: 1em 0em;
}
main {
  padding: 4em;
}
.list-display{
  display: flex;
  flex-flow: row nowrap;
}
.logout-button{

}




/*////////////////////////////*/
/* ------- COMPONENTS ------- */
/*////////////////////////////*/

/* --- LIST --- */
.item-display {
  width: 25vw;
  margin: 15px;
  padding: 15px;
}

/* --- ITEM --- */
.oneitem {

}