body {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
button {
  font-family: 'Righteous', cursive;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}
/*////////////////////////////*/
/* ---------- PAGES ----------*/
/*////////////////////////////*/


/* --- LOGIN & SIGNUP --- */

.login-page, .signup-page {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('../styles/abstract-angles-bg.png');
}
.login-page img, .signup-page img {
  width:20%;
  min-width:180px;
  max-width: 300px;
  margin-bottom: 1em;
}
.welcome {
  width: 100%;
  padding: 0.5em 0;
  background-color: rgb(175, 108, 196);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.login-page h2 {
  width: 80vw;
  color: white;
  font-size: 5em;
  margin: 0;
  font-family: 'Zen Loop', cursive;
  transition: ease-in-out 0.3s;
}
.login-page h3 {
  width: 80vw;
  color: white;
  font-size: 2em;
  margin: 0 0 0.5em 0;
  font-family: 'Righteous', cursive;
  letter-spacing: 0.05em;
  transition: ease-in-out 0.3s;
}
.intro {
  background-color: #feffee;
  margin: 1em 0;
  padding: 0.5em 0em;
  font-family: 'Overlock', sans-serif;
  font-size: 1.3em;
  width: 100%;
  color: rgb(107, 86, 47);
  line-height: 1.5em;
}
.title {
  font-family: 'Zen Loop', cursive;
  font-size: 1.3em;
  letter-spacing: 0.04em;
  font-weight: bold;
  color: darkgreen;
}
.login-form, .signup-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.login-form input, .signup-form input {
  width: 30vw;
  min-width: 200px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-family: 'Overlock', sans-serif;
  font-size: 1.1em;
}
.login-form input:focus, .signup-form input:focus {
  border: rgb(190, 255, 174) solid 6px;
  outline: rgb(115, 228, 121) auto 5px;
  margin: 4px;
}
.login-form button, .signup-form button {
  transition: ease-in-out 0.2s;
  background-color: #ede4f6;
}

.login-form button:hover, .signup-form button:hover {
  background-color: #76c35e;
  color: #fbffc5;
  text-shadow: 0 0 1em darkgreen;
  border-radius: 50%;
  font-size: 1.6em;
}
.login-form button:hover{
  padding: 1.55em 0.8em;
}
.signup-form button:hover {
  padding: 1.7em 0.6em;
}
.button-box {
  height: 120px;
  display:flex;
  flex-flow:column;
  justify-content:center;
  align-items:center;
}
footer {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 1em 0;
  width: 100%;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-shadow: 0 0 1em rgb(8, 58, 8);
  font-family: 'Overlock', sans-serif;
}
footer a {
  color: white;
}

/* --- DASHBOARD --- */
.dashboard-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 85%;
  background-image: url('../styles/abstract-angles-bg.png');
}
aside {
  z-index: 10;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  min-width: 120px;
  background-color: rgb(202, 172, 212);
  padding: 2em;
}
aside img {
  margin: 0 0 2em 0;
}
aside button {
  margin: 1em 0em;
}
main {
  background-color: rgba(255, 255, 255,0.85);
  padding: 3em;
}
.list-display{
  display: flex;
  flex-flow: row nowrap;
}
.logout-button{

}




/*////////////////////////////*/
/* ------- COMPONENTS ------- */
/*////////////////////////////*/

/* --- LIST --- */
.item-display {
  width: 25vw;
  margin: 15px;
  padding: 15px;
}

/* --- ITEM --- */
.oneitem {

}

/*////////////////////////////*/
/* ------- MOBILE ------- */
/*////////////////////////////*/

@media screen and (max-width:700px){
  .login-page h2 {
    font-size: 3em;
  }
  .login-page h3 {
    font-size: 1.3em;
  }
  .intro {
    font-size: 0.8em;
  }
}